---
---
@import "minimal-mistakes";

.author__avatar img {
  border-radius: 0 !important;
  border: none !important;
}

.site-title {
  background-image: url('/images/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 280px;
  height: 80px;
  text-indent: -9999px;
}

.list__item {
  display: none;
}

.archive__subtitle {
  display: none;
}
